{% load i18n %}
<thead>
{% comment %}
############################################################
#                                                          #
#        links is a dict containing the following:         #
#          'prev': a date in the previous month            #
#            'next': a date in the next month              #
#                                                          #
############################################################
{% endcomment %}
    <tr> 
    <th><a href="?date={{ links.prev|date:"Y.m.j" }}" title="{% trans "view previous month" %}">&lt;</a></th><th colspan="5">{{ month|date:"F, Y" }}</th><th><a href="?date={{ links.next|date:"Y.m.j" }}" title="{% trans "view next month" %}">&gt;</a></th> 
    </tr> 

{% comment %}
############################################################
#                                                          #
#    month_calendar.0 contains the first week as a list of days.    #
#     this can be used to generate day name headers:       #
#             eg. "Su Mo Tu We Th Fr Sa"                   #
#                                                          #
############################################################
{% endcomment %}

    <tr class="days">
        {% for day in month_calendar.0 %}
        <th>{{ day.date|date:"l"|slice:":2" }}</th> 
        {% endfor %}
    </tr> 
</thead>
